---
layout: layouts/base.njk
templateClass: post-container
---
<h1 class="page-title">{{ title }}</h1>
<div class="divider on-page"></div>

{{ content | safe }}

<p><a href="{{ '/' | url }}">← Home</a></p>