---
layout: layouts/home.njk
permalink: /blog/
eleventyNavigation:
  key: blog
  order: 2
---

<h1>Cat</h1>
<div class="container">
  {% set postslist = collections.posts %}
  {% include "postslist.njk" %}
</div>