---
layout: layouts/home.njk
title: Koye's Blog
templateClass: container
eleventyNavigation:
  key: home
  order: 1
---

<div class="hero-area">
  <div class="row">
    <div class="col-lg-6 order-lg-2 mb-lg-0 mb-3">
      <div class="img-holder">
        <img src="../img/koye.png" />
      </div>
    </div>
    <div class="col-lg-6">
      <h1 class="mb-3">Developer and Music Enthusiast</h1>
      <p>
        Hi there 👋 I’m adekoyejo akinhanmi (koye for short), 
        a software developer based in Lagos, Nigeria. I currently 
        work as a front end developer at <a target="_blank" href="https://verifi.ng">verifi.ng</a>. 
        I enjoy building applications that help solve real problems.
      </p>
    </div>
  </div>
</div>
<div class="divider"></div>
<div class="latest-posts">
  <h2 class="mb-3">Latest Post</h2>

  {% set postslist = collections.posts | head(-1) %}
  {% set postslistCounter = collections.posts | length %}
  {% include "postslist.njk" %}
</div>
